workflows/barbearia/barbearia-chat-engine.json
{
  "name": "Barbearia — Chat Engine",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "parameters": {
        "path": "chat",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "63ca91a1-c655-409c-94b3-208fbea732de",
      "name": "Webhook_Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "webhookId": "barbearia-chat"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "/**\n * Barbearia chat engine — production-hardened (retries, logging, env checks, safe failures).\n * Webhook body: { mensagem, telefone, canal }\n *\n * Env: AIRTABLE_TOKEN, AIRTABLE_BASE_ID, DEEPSEEK_API_KEY\n * Optional: DEEPSEEK_API_URL, BARBEARIA_NOME, RESEND_*, AIRTABLE_TBL_*, LOG_WEBHOOK_URL (POST JSON lines)\n */\nasync function barbeariaEngine() {\n  const E = (k, d = '') => ($env[k] !== undefined && $env[k] !== '' ? $env[k] : d);\n\n  const redactPhone = (t) => {\n    const s = String(t || '');\n    if (s.length <= 4) return '****';\n    return `***${s.slice(-4)}`;\n  };\n\n  const log = (scope, level, message, err) => {\n    const line = {\n      ts: new Date().toISOString(),\n      scope: `barbearia.engine.${scope}`,\n      level,\n      message,\n      err: err ? String(err.message || err) : undefined,\n    };\n    try {\n      if (level === 'error' || level === 'warn') console.error(JSON.stringify(line));\n      else console.log(JSON.stringify(line));\n    } catch (e) {}\n    const hook = E('LOG_WEBHOOK_URL');\n    if (hook && (level === 'error' || level === 'warn')) {\n      this.helpers\n        .httpRequest({\n          method: 'POST',\n          url: hook,\n          headers: { 'Content-Type': 'application/json' },\n          body: line,\n          json: true,\n          timeout: 5000,\n        })\n        .catch(() => {});\n    }\n  };\n\n  const retryHttp = async (label, fn, opts = { max: 4, baseMs: 350 }) => {\n    let last;\n    for (let i = 0; i < opts.max; i++) {\n      try {\n        return await fn();\n      } catch (e) {\n        last = e;\n        const status = e.statusCode || e.response?.statusCode || e.status;\n        const code = typeof status === 'number' ? status : 0;\n        const retryable = !code || code === 408 || code === 429 || code >= 500;\n        log(label, 'warn', `http attempt ${i + 1}/${opts.max} failed`, e);\n        if (!retryable || i === opts.max - 1) throw e;\n        const delay = opts.baseMs * Math.pow(2, i);\n        await new Promise((r) => setTimeout(r, delay));\n      }\n    }\n    throw last;\n  };\n\n  const http = this.helpers.httpRequest.bind(this.helpers);\n\n  const token = E('AIRTABLE_TOKEN');\n  const baseId = E('AIRTABLE_BASE_ID');\n  const deepseekKey = E('DEEPSEEK_API_KEY');\n  const deepseekBase = (E('DEEPSEEK_API_URL') || 'https://api.deepseek.com').replace(/\\/$/, '');\n  const nomeBarbearia = E('BARBEARIA_NOME') || 'Barbearia';\n\n  const missing = [];\n  if (!token) missing.push('AIRTABLE_TOKEN');\n  if (!baseId) missing.push('AIRTABLE_BASE_ID');\n  if (!deepseekKey) missing.push('DEEPSEEK_API_KEY');\n  if (missing.length) {\n    log('env', 'error', `Missing env: ${missing.join(', ')}`);\n    return [\n      {\n        json: {\n          resposta: 'Serviço mal configurado. Contacte a equipa técnica.',\n          mensagem: '',\n          _errorCode: 'MISSING_ENV',\n        },\n      },\n    ];\n  }\n\n  const T = {\n    PRODUTOS: E('AIRTABLE_TBL_PRODUTOS') || 'PRODUTOS',\n    ENCOMENDAS: E('AIRTABLE_TBL_ENCOMENDAS') || 'ENCOMENDAS',\n    CLIENTES: E('AIRTABLE_TBL_CLIENTES') || 'CLIENTES',\n    CONVERSAS: E('AIRTABLE_TBL_CONVERSAS') || 'CONVERSAS',\n    DEVOLUCOES: E('AIRTABLE_TBL_DEVOLUCOES') || 'DEVOLUCOES',\n    ESCALADAS: E('AIRTABLE_TBL_ESCALADAS') || 'ESCALADAS',\n  };\n\n  const items = $input.all();\n  const raw = items[0].json;\n  const body = raw.body || raw;\n  const mensagem = String(body.mensagem || body.message || '').trim();\n  const telefone = String(body.telefone || body.phone || '').trim();\n  const canal = String(body.canal || 'whatsapp').toLowerCase();\n  const phoneTag = redactPhone(telefone);\n\n  if (!mensagem) {\n    return [{ json: { resposta: 'Não recebi mensagem.', mensagem: '' } }];\n  }\n  if (!telefone) {\n    return [{ json: { resposta: 'Falta o identificador da conversa (telefone).', mensagem } }];\n  }\n\n  const authHeaders = {\n    Authorization: `Bearer ${token}`,\n    'Content-Type': 'application/json',\n  };\n\n  async function airtableList(table, filterFormula) {\n    const rows = [];\n    let offset = '';\n    do {\n      const qs = new URLSearchParams();\n      if (filterFormula) qs.set('filterByFormula', filterFormula);\n      if (offset) qs.set('offset', offset);\n      const url = `https://api.airtable.com/v0/${baseId}/${encodeURIComponent(table)}?${qs}`;\n      const res = await retryHttp(`airtable.list.${table}`, () =>\n        http({ method: 'GET', url, headers: authHeaders, json: true }),\n      );\n      rows.push(...(res.records || []));\n      offset = res.offset || '';\n    } while (offset);\n    return rows;\n  }\n\n  async function airtableCreate(table, fields) {\n    const url = `https://api.airtable.com/v0/${baseId}/${encodeURIComponent(table)}`;\n    return retryHttp(`airtable.create.${table}`, () =>\n      http({\n        method: 'POST',\n        url,\n        headers: authHeaders,\n        body: { fields },\n        json: true,\n      }),\n    );\n  }\n\n  async function airtableUpdate(table, recordId, fields) {\n    const url = `https://api.airtable.com/v0/${baseId}/${encodeURIComponent(table)}/${recordId}`;\n    return retryHttp(`airtable.update.${table}`, () =>\n      http({\n        method: 'PATCH',\n        url,\n        headers: authHeaders,\n        body: { fields },\n        json: true,\n      }),\n    );\n  }\n\n  async function deepSeek(messages, max_tokens = 500) {\n    return retryHttp('deepseek.chat', () =>\n      http({\n        method: 'POST',\n        url: `${deepseekBase}/v1/chat/completions`,\n        headers: {\n          'Content-Type': 'application/json',\n          Authorization: `Bearer ${deepseekKey}`,\n        },\n        body: {\n          model: 'deepseek-chat',\n          messages,\n          temperature: 0.3,\n          max_tokens,\n        },\n        json: true,\n      }),\n    );\n  }\n\n  function parseHistorico(raw) {\n    if (!raw) return [];\n    try {\n      const a = typeof raw === 'string' ? JSON.parse(raw) : raw;\n      return Array.isArray(a) ? a : [];\n    } catch (e) {\n      log('historico', 'warn', 'parse failed', e);\n      return [];\n    }\n  }\n\n  function pushHistorico(hist, role, content) {\n    const next = [...hist, { role, content, timestamp: new Date().toISOString() }];\n    return next.slice(-10);\n  }\n\n  const escapeFormula = (s) => {\n    const x = String(s).replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"\\\\'\");\n    return `'${x}'`;\n  };\n\n  try {\n    const convFilter = `{telefone}=${escapeFormula(telefone)}`;\n    const convRows = await airtableList(T.CONVERSAS, convFilter);\n    let convRecord = convRows[0];\n    let historico = convRecord ? parseHistorico(convRecord.fields.historico) : [];\n\n    const cliRows = await airtableList(T.CLIENTES, `{telefone}=${escapeFormula(telefone)}`);\n    let clienteNome = '';\n    if (cliRows[0]) clienteNome = cliRows[0].fields.nome || '';\n\n    const exchangeCount = historico.filter((m) => m.role === 'user').length;\n    const escalKeywords =\n      /reclamação|urgente|inaceitável|absurdo|advogado|enganado|falar com pessoa|falar com humano|reclamacao/i;\n    const volMatch = mensagem.match(/(\\d+)\\s*(unidades|un\\.?|pcs)/i);\n    const bulkDiscount = volMatch && parseInt(volMatch[1], 10) >= 3;\n\n    let escalated = false;\n    let escalReason = '';\n    if (escalKeywords.test(mensagem)) {\n      escalated = true;\n      escalReason = 'palavra-chave de escalada';\n    } else if (bulkDiscount) {\n      escalated = true;\n      escalReason = 'pedido de volume (3+ unidades)';\n    } else if (exchangeCount >= 4 && convRecord && String(convRecord.fields.estado || '') !== 'Resolvido') {\n      escalated = true;\n      escalReason = 'mais de 4 trocas sem resolução';\n    }\n\n    let intent = 'OUTRO';\n    if (!escalated) {\n      const intentPrompt = `Classifica a seguinte mensagem numa das categorias abaixo. Responde APENAS com a palavra da categoria, sem pontuação, sem explicação.\nPRODUTO    — perguntas sobre produtos, preços, stock, características, comparações\nENCOMENDA  — estado de encomenda, tracking, prazo de entrega\nDEVOLUCAO  — devoluções, trocas, reembolsos, produto com defeito\nOUTRO      — tudo o resto: saudações, reclamações, perguntas fora do âmbito\n\nMensagem: ${mensagem}`;\n      try {\n        const ir = await deepSeek([{ role: 'user', content: intentPrompt }], 15);\n        const t = (ir.choices?.[0]?.message?.content || 'OUTRO').trim().toUpperCase();\n        if (t.includes('PRODUTO')) intent = 'PRODUTO';\n        else if (t.includes('ENCOMENDA')) intent = 'ENCOMENDA';\n        else if (t.includes('DEVOLUC')) intent = 'DEVOLUCAO';\n        else intent = 'OUTRO';\n      } catch (e) {\n        log('intent', 'warn', `intent fallback OUTRO for ${phoneTag}`, e);\n        intent = 'OUTRO';\n      }\n    }\n\n    let prodRecords;\n    try {\n      prodRecords = await airtableList(T.PRODUTOS, '');\n    } catch (e) {\n      log('catalog', 'error', 'failed to load PRODUTOS', e);\n      return [\n        {\n          json: {\n            resposta: 'Não consegui aceder ao catálogo de momento. Tenta novamente em breve.',\n            mensagem,\n            _errorCode: 'AIRTABLE_CATALOG',\n          },\n        },\n      ];\n    }\n\n    const catalogText = prodRecords\n      .map((r) => {\n        const f = r.fields;\n        return `${f.id} | ${f.nome} | ${f.categoria} | ${f.preco}€ | LX:${f.stock_lisboa} PT:${f.stock_porto} ALF:${f.stock_alferia}`;\n      })\n      .join('\\n');\n\n    if (escalated) {\n      const escId = `ESC${Date.now().toString(36).toUpperCase().slice(-6)}`;\n      const summary = historico.map((h) => `${h.role}: ${h.content}`).join('\\n');\n      try {\n        await airtableCreate(T.ESCALADAS, {\n          id: `#${escId}`,\n          cliente_nome: clienteNome || telefone.slice(-4),\n          telefone,\n          motivo_trigger: escalReason,\n          resumo_conversa: `${summary}\\nuser: ${mensagem}`,\n          estado: 'Pendente',\n          data: new Date().toISOString(),\n        });\n      } catch (e) {\n        log('escalada', 'error', 'failed to create ESCALADAS', e);\n      }\n\n      const resposta = `Compreendo a situação. A nossa equipa foi notificada e entrará em contacto em breve. Referência: #${escId}.`;\n      historico = pushHistorico(historico, 'user', mensagem);\n      historico = pushHistorico(historico, 'assistant', resposta);\n\n      try {\n        if (convRecord) {\n          await airtableUpdate(T.CONVERSAS, convRecord.id, {\n            historico: JSON.stringify(historico),\n            updated_at: new Date().toISOString(),\n            estado: 'Escalado',\n            intencao: intent,\n            canal: canal === 'voz' ? 'Voz' : 'WhatsApp',\n          });\n        } else {\n          await airtableCreate(T.CONVERSAS, {\n            id_sessao: `S${Date.now().toString().slice(-8)}`,\n            telefone,\n            canal: canal === 'voz' ? 'Voz' : 'WhatsApp',\n            historico: JSON.stringify(historico),\n            updated_at: new Date().toISOString(),\n            estado: 'Escalado',\n            intencao: intent,\n          });\n        }\n      } catch (e) {\n        log('conversas', 'error', 'failed to persist escalation conversas', e);\n      }\n\n      const resend = E('RESEND_API_KEY');\n      if (resend) {\n        try {\n          await http({\n            method: 'POST',\n            url: 'https://api.resend.com/emails',\n            headers: { Authorization: `Bearer ${resend}`, 'Content-Type': 'application/json' },\n            body: {\n              from: E('RESEND_FROM') || 'Barbearia <onboarding@resend.dev>',\n              to: [E('RESEND_TO') || 'equipa@example.com'],\n              subject: `Escalada WhatsApp — ${clienteNome || 'Cliente'} — ${escalReason}`,\n              text: `Referência: #${escId}\\nCliente: ${clienteNome || '-'}\\nTelefone: [redacted]\\nTrigger: ${escalReason}\\n\\n${summary}`,\n            },\n            json: true,\n            timeout: 15000,\n          });\n        } catch (e) {\n          log('resend', 'warn', 'escalation email failed', e);\n        }\n      }\n\n      return [{ json: { resposta, mensagem } }];\n    }\n\n    let branchContext = '';\n    if (intent === 'ENCOMENDA') {\n      let ordRows;\n      try {\n        ordRows = await airtableList(T.ENCOMENDAS, '');\n      } catch (e) {\n        log('encomendas', 'warn', 'list ENCOMENDAS failed', e);\n        ordRows = [];\n      }\n      const phoneMatch = ordRows.filter((r) => String(r.fields.cliente_tel || '') === telefone);\n      const idMatch = mensagem.match(/\\bE\\d{3,}\\b/i);\n      let relevant = phoneMatch;\n      if (idMatch) {\n        const id = idMatch[0].toUpperCase();\n        relevant = ordRows.filter((r) => String(r.fields.id || '').toUpperCase() === id);\n      }\n      branchContext = relevant\n        .map(\n          (r) =>\n            `${r.fields.id}: ${r.fields.produto_nome} | ${r.fields.estado} | tracking: ${r.fields.tracking || '—'} | ETA: ${r.fields.eta || '—'} | ${r.fields.transportadora || '—'}`,\n        )\n        .join('\\n');\n      if (!branchContext) branchContext = 'Nenhuma encomenda encontrada para este contacto.';\n    } else if (intent === 'DEVOLUCAO') {\n      branchContext =\n        'Fluxo devolução: pede número de encomenda (ex: E007) e motivo se ainda não estiver claro. Motivos Airtable: Produto com defeito, Arrependimento, Produto errado, Outro.';\n    }\n\n    const lastFive = historico.slice(-5);\n    const histText = lastFive.map((h) => `${h.role}: ${h.content}`).join('\\n');\n\n    const voiceRules =\n      canal === 'voz'\n        ? 'REGRAS VOZ: no máximo 2 frases curtas; nunca digas IDs tipo P006 — usa nomes de produto; termina com uma pergunta.'\n        : 'Máximo 3 frases por resposta (exceto comparações de produtos).';\n\n    const system = `És o assistente virtual da ${nomeBarbearia}. Respondes EXCLUSIVAMENTE sobre: produtos do catálogo, estado de encomendas, devoluções e informações da loja.\nREGRAS: 1) Nunca inventes dados fora do catálogo e encomendas fornecidos. 2) Se faltar informação: \"Não tenho essa informação. Posso ajudar com outra questão?\"\n3) Português de Portugal (pt-PT) apenas. 4) ${voiceRules}\n5) Tom profissional e próximo. 6) Usa o nome do cliente se existir: ${clienteNome || '(desconhecido)'}.\nINTENÇÃO: ${intent}\nCATÁLOGO:\n${catalogText}\n${branchContext ? `\\nCONTEXTO ESPECÍFICO:\\n${branchContext}\\n` : ''}\nHISTÓRICO (últimas mensagens):\n${histText || '(vazio)'}`;\n\n    const userMsg = mensagem;\n    let resposta = '';\n    try {\n      const cr = await deepSeek(\n        [\n          { role: 'system', content: system },\n          { role: 'user', content: userMsg },\n        ],\n        500,\n      );\n      resposta = (cr.choices?.[0]?.message?.content || '').trim();\n    } catch (e) {\n      log('deepseek.reply', 'error', 'main reply failed', e);\n      resposta = 'Lamento, o serviço de IA está indisponível de momento. Tenta novamente em instantes.';\n    }\n    if (!resposta) resposta = 'Não tenho essa informação. Posso ajudar com outra questão?';\n\n    if (intent === 'DEVOLUCAO') {\n      const oid = mensagem.match(/\\bE\\d{3,}\\b/i);\n      const motivoMap = [\n        ['defeito', 'Produto com defeito'],\n        ['arrepend', 'Arrependimento'],\n        ['errado', 'Produto errado'],\n        ['outro', 'Outro'],\n      ];\n      let motivo = '';\n      const low = mensagem.toLowerCase();\n      for (const [k, v] of motivoMap) {\n        if (low.includes(k)) {\n          motivo = v;\n          break;\n        }\n      }\n      if (oid && motivo) {\n        const devId = `DEV${Date.now().toString(36).toUpperCase().slice(-6)}`;\n        try {\n          await airtableCreate(T.DEVOLUCOES, {\n            id: `#${devId}`,\n            cliente_nome: clienteNome || 'Cliente',\n            telefone,\n            id_encomenda: oid[0].toUpperCase(),\n            motivo,\n            estado: 'Aberto',\n            data_criacao: new Date().toISOString(),\n          });\n          resposta = `Pedido de devolução registado com referência #${devId}. A nossa equipa entrará em contacto nas próximas 24 horas. Sem custos adicionais para si.`;\n        } catch (e) {\n          log('devolucoes', 'error', 'create DEVOLUCOES failed', e);\n        }\n      }\n    }\n\n    historico = pushHistorico(historico, 'user', mensagem);\n    historico = pushHistorico(historico, 'assistant', resposta);\n\n    const canalField = canal === 'voz' ? 'Voz' : canal === 'dashboard' ? 'Dashboard' : 'WhatsApp';\n\n    try {\n      if (convRecord) {\n        await airtableUpdate(T.CONVERSAS, convRecord.id, {\n          historico: JSON.stringify(historico),\n          updated_at: new Date().toISOString(),\n          intencao: intent,\n          canal: canalField,\n        });\n      } else {\n        await airtableCreate(T.CONVERSAS, {\n          id_sessao: `S${Date.now().toString().slice(-8)}`,\n          telefone,\n          canal: canalField,\n          historico: JSON.stringify(historico),\n          updated_at: new Date().toISOString(),\n          estado: 'Pendente',\n          intencao: intent,\n        });\n      }\n    } catch (e) {\n      log('conversas', 'error', 'failed to save CONVERSAS', e);\n    }\n\n    if (!cliRows[0]) {\n      try {\n        await airtableCreate(T.CLIENTES, {\n          id: `C${Date.now().toString(36).toUpperCase().slice(-5)}`,\n          telefone,\n          nome: '',\n          data_registo: new Date().toISOString().slice(0, 10),\n        });\n      } catch (e) {\n        log('clientes', 'warn', 'create CLIENTES skipped', e);\n      }\n    }\n\n    return [{ json: { resposta, mensagem } }];\n  } catch (fatal) {\n    log('fatal', 'error', `unhandled error tel=${phoneTag}`, fatal);\n    return [\n      {\n        json: {\n          resposta: 'Ocorreu um erro interno. A equipa foi notificada nos registos. Tenta de novo dentro de momentos.',\n          mensagem,\n          _errorCode: 'ENGINE_UNHANDLED',\n        },\n      },\n    ];\n  }\n}\n\nreturn await barbeariaEngine.call(this);\n"
      },
      "id": "840d228d-b2fb-4dc2-ae7a-e02ba763efba",
      "name": "Code_Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "a1de423d-30d7-45d4-9d3a-bb04e0d50ca0",
      "name": "Respond_Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        300
      ]
    }
  ],
  "connections": {
    "Webhook_Chat": {
      "main": [
        [
          {
            "node": "Code_Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Engine": {
      "main": [
        [
          {
            "node": "Respond_Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}